<div>
    <div>
    <form name="createProjectForm" action="#" ng-controller="createProjectContoller" ng-submit="submitProjectForm()">

        Project name:    <br/><input type="text" ng-model="projectForm.name">    <br/><br/>
        Project size (%): <br/><input type="text" ng-model="projectForm.size"> <br/><br/>
        
        <input type="submit" ngClick="Submit" >

    </form>        
    </div>

    <div>    
        <md-button class="md-raised" href="#/">Home</md-button>
    </div>
</div>
