<!DOCTYPE html>
<html lang="en" >
<head>
    <title>RoadMapApp</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/roadmapapp.css"> 
</head>
<body>
<div ng-controller="DemoBasicCtrl as ctrl" ng-cloak="" class="menuBardemoBasicUsage" ng-app="RoadMapApp">
    <md-content>
        <div layout="column>">
            {{userName}}
        </div>
     </md-content>

    <md-toolbar class="md-menu-toolbar">
    <div layout="row">
      <div>
        <h2 class="md-toolbar-tools">RoadMapApp</h2>
        <md-menu-bar>
            <md-menu>
                <button ng-click="$mdOpenMenu()">Sign In</button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button href="/auth/github">GitHib</md-button>
                        </md-menu-item>                    
                        <md-menu-item>
                            <md-button ng-click="ctrl.sampleAction('New Document', $event)">Facebook</md-button>
                        </md-menu-item>                    
                        <md-menu-item>
                        <md-button ng-click="ctrl.sampleAction('New Document', $event)">LinkedIn</md-button>
                        </md-menu-item>                                                           
                    </md-menu-content>
            </md-menu>
            <md-menu>
                <button ng-click="$mdOpenMenu()" ng-disabled="!loggedIn">Team</button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="ctrl.sampleAction('New Document', $event)">Create Team</md-button>
                        </md-menu-item>                    
                        <md-menu-item>
                            <md-button ng-click="ctrl.sampleAction('New Document', $event)">Invite Members to Team</md-button>
                        </md-menu-item>                    
                    </md-menu-content>
            </md-menu>
                        <md-menu>
                <button ng-click="$mdOpenMenu()" ng-disabled="!loggedIn">Project</button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="ctrl.sampleAction('New Document', $event)">Create Project</md-button>
                        </md-menu-item>                    
                    </md-menu-content>
            </md-menu>                
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>
    <md-content>
    <div layout="row">
        <div flex>
            <h2>Teams</h2>
            <ul>
                <li>Dev 1</li>
                <li>Dev 2</li>
            </ul>            
        </div>
        <div flex>
            <div layout="column">
                <div flex><h2>Dev 2</h2></div>
                <div flex>Here is place to roadmap!</div>    
            </div>
        </div>
        
    </div>
    </md-content>
    
  </div>
      
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
  
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript" src="js/roadmapui.js"></script>    
  
</body>
</html>
